<nav class="navbar navbar-light">
    <span class="navbar-brand mb-0 h1 navbar-top">OmniPayments</span>
  </nav>
  
  <div class="container text-center">
    <div class="row">
  
  
      <div class="col-2"></div>
  
      <div class="col-4 form-div">
        
        <div class="lbl-welcome">Welcome Back</div><br>
  
        <div class="lbl-msg" [ngStyle]=" lblMsgInvalid ? {'color': 'red'} : {'color': '#969696'}">{{lblMsg}}</div><br>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label float-left">UserName</label>
            <input type="text" class="form-control" placeholder="UserName" [(ngModel)]="userVal">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label float-left">Password</label>
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="passVal">
          </div> 
    
          <div>
            <button type="button" class="btn btn-submit" (click)="login()">Sign In</button>
          </div>
  
        <div>
          <span class="lbl-signup-txt">Don't have an account?</span> <span class="lbl-signup" routerLink="/signup"> Sign up</span>
        </div>
        
      </div>
      
      <div class="col-2"></div>
      <div class="col-3"><img src="../../assets/bg_login_pic.jpg" alt="Trulli" class="bg_login_pic"></div>
    </div>
  </div>
  
  <!-- <div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
  </div> -->
  
  