
  <div *ngIf="header" class="header-div">
    <div class="row">
    <div ngbDropdown class="col-2" >
      <img src="../assets/OmniPayments-_2_.jpg" alt="Trulli" width="80" height="40" class="logo-img" id="dropdownBasic1" ngbDropdownToggle>       
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem class="ddbtn" routerLink="/home">Home</button>
          <button ngbDropdownItem class="ddbtn" routerLink="/transcation-history">Transcation History</button>
          <button ngbDropdownItem class="ddbtn" routerLink="/download-report">Download Reports</button>
          <button ngbDropdownItem class="ddbtn" routerLink="/terminal-detail">Terminal Details</button>
          <button ngbDropdownItem class="ddbtn" routerLink="/user-profile">User Details</button>
          <button ngbDropdownItem class="ddbtn" routerLink="/merchant-profile">Merchant Details</button>
        </div>
    </div>
    <div class="col-8 lbl-home">
      <div class="lbl-home" routerLink="/home">HOME</div>
    </div>
    <div class="col-2">
        <div class="row">
            <div class="invisible">.</div>
            <div class="col-1"></div>
            <div class="col-2" ngbDropdown>

              <svg id="dropdownBasic1" ngbDropdownToggle xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>

              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem class="ddbtn" (click)="logout()">Log Out</button>
              </div>

            </div>
            <div class="col-8 user-lbls">
                <div>User: {{login.username}}</div> 
                <div>MerchantId: {{login.merchantId}}</div> 
            </div>
            
        </div>
        
    </div> 
    </div>
  </div>

<router-outlet></router-outlet>
<footer>
  <span class="lbl-c22">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
      <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
    </svg>
    2022 
  </span>
  <span class="lbl-copy">Copyright OmniPayments</span>
</footer>