.navbar{
    margin-bottom: 18px;
}
.navbar-top{
    color: #ff6f00;
    padding-left: 25px;
    font-family: Trebuchet MS;
    font-size: 38px;
}
.float-left{
    float: left;
}
.lbl-welcome{
    text-align: left;
    color: #ff6f00;
    font-weight: 700;
}
.lbl-msg{
    text-align: left;
    color: #969696;
}
.btn-submit{
    width: 100%;
    background-image: linear-gradient(to right, #feb502 , #f3524b);
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.lbl-signup-txt{
    color: #969696;    
}
.lbl-signup{
    color: #ff6f00;
    font-weight: 700;   
}
.lbl-c22{
    color: #969696;    
}
.lbl-copy{
    color: #ff6f00;
    font-weight: 700;
}
.bi-c-circle{
    margin-top: -1px;
}
footer{
    text-align: right;
    padding-right: 55px;
    margin-top: 52px;
    padding-bottom: 24px;
    border-bottom: 1px solid #00000014;
}
.header-div{
    position: absolute;
    width: 1348px;
}
.logo-img{
    margin: 21px 10px 2px 21px;
    border-radius: 6px;
    cursor: pointer;
}
.lbl-home{
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 9px;
    cursor: pointer;
}
.bi-person-fill{
    background: #adb5bd;
    color: white;
    padding: 7px;
    border-radius: 68px;
    width: 35px;
    height: 35px;
}
.user-lbls{
    font-size: 12px;
    color: white;
    font-weight: 500;
}
.ddbtn:active {
    background:#ee6700;
}
.dropdown-menu{
    z-index: 9999;
}

