<div>

    <div class="container" class="main-div">

     

        <div class="row cards-row">
            <div class="col-3 card-cont mt-70">
              <div class="card-div">
                  <div class="lbl-line-title">SALES</div>
                  <div *ngIf="tranStatsSales" class="lbl-line-amt">{{tranStatsSales}}</div>
                  <hr>
                  <div class="salesLineChart-div">              
                    <canvas id="salesLineChart" width="700" height="750" #salesLineChart></canvas>
                  </div>
              </div>
            </div>
            <div class="col-3 card-cont mt-70">
              <div class="card-div">
                  <div class="lbl-line-title">TRANSACTIONS</div>
                  <div *ngIf="tranStatsTransactions" class="lbl-line-amt">{{tranStatsTransactions}}</div>
                  <hr>
                  <div class="salesLineChart-div">              
                    <canvas id="transactionsLineChart" width="700" height="750" #transactionsLineChart></canvas>
                  </div>
              </div>
            </div>
            <div class="col-3 card-cont mt-70">
              <div class="card-div">
                  <div class="lbl-line-title">FEES</div>
                  <div *ngIf="tranStatsFees" class="lbl-line-amt">{{tranStatsFees}}</div>
                  <hr>
                  <div class="salesLineChart-div">              
                    <canvas id="feesLineChart" width="700" height="750" #feesLineChart></canvas>
                  </div>
              </div>
            </div>
            <div class="col-3 mt-70">
              <div class="card-div">
                  <div class="lbl-line-title">COMMISSION</div>
                  <div *ngIf="tranStatsCommission" class="lbl-line-amt">{{tranStatsCommission}}</div>
                  <hr>
                  <div class="salesLineChart-div">              
                    <canvas id="commissionLineChart" width="700" height="750" #commissionLineChart></canvas>
                  </div>
              </div>
            </div>
          </div>

    </div>

</div>