.navbar{
    margin-bottom: 18px;
}
.navbar-top{
    color: #ff6f00;
    padding-left: 25px;
    font-family: Trebuchet MS;
    font-size: 38px;
}
.float-left{
    float: left;
}
.lbl-welcome{
    text-align: left;
    color: #ff6f00;
    font-weight: 700;
}
.lbl-msg{
    text-align: left;
    color: #969696;
}
.btn-submit{
    width: 100%;
    background-image: linear-gradient(to right, #feb502 , #f3524b);
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.lbl-signup-txt{
    color: #969696;    
}
.lbl-signup{
    color: #ff6f00;
    font-weight: 700;  
    cursor: pointer; 
}
.form-div{
    margin-top: 40px;
    margin-right: 88px;
}
.bg_login_pic{
    height: 500px;
    width: 450px;
    margin-left: 29px;
}
.bg_login_pic_2{
    height: 500px;
    width: 536px;
    margin-left: -57px;
}
.invalid-msg{
    color: red;
    font-size: 12px;
    font-weight: 700;
    margin-left: 2px;
    margin-top: 2px;
}