<div>

    <div id="cover-spin" *ngIf="loader"></div>
    <div class="loader" *ngIf="loader"></div>

    <div class="container" class="main-div">



        <div class="row cards-row">
            <div class="col-12 card-cont-trans">
                <div class="card-div-trans p-0 box-shadow">
                    <div class="bar-transaction"> 
                        Merchant Details
                        <button class="btn-srch" (click)="getMerchant()">Search <fa-icon class="fa-search" [icon]="faSearch" ></fa-icon></button>
                        <input type="text" class="form-control searchtxt" [(ngModel)]="searchTxt" placeholder="Merchant ID" >
                       
                    </div>

                    <div class="tbody-div">
                         
                        <div class="row">
                            <div class="col-12 sub-head-lbl">MERCHANT</div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Retailer ID{{merchant}}</label>
                                    <input type="text" class="form-control form-txt " placeholder="Retailer ID" [(ngModel)]="merchant.retailerID" >
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Retailer Name</label>
                                    <input type="text" class="form-control form-txt" placeholder="Retailer Name" [(ngModel)]="merchant.retailerName" >
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Account Type</label>
                                    <input type="text" class="form-control form-txt" placeholder="Account Type" [(ngModel)]="merchant.accountType" readonly>
                                </div> 
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Institution ID</label>
                                    <input type="text" class="form-control form-txt " placeholder="Institution ID" [(ngModel)]="merchant.institutionID" readonly>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Retailer Category Code</label>
                                    <input type="text" class="form-control form-txt" placeholder="Retailer Category Code" [(ngModel)]="merchant.retailerCategoryCode" readonly>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Settlement BankCode</label>
                                    <input type="text" class="form-control form-txt" placeholder="Settlement BankCode" [(ngModel)]="merchant.settlementBankCode" >
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Retailer Religion</label>
                                    <input type="text" class="form-control form-txt " placeholder="Retailer Religion" [(ngModel)]="merchant.retailerReligion" readonly>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Status</label>
                                    <input type="text" class="form-control form-txt" placeholder="Status" [(ngModel)]="merchant.status" readonly>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Retailer Legal Name</label>
                                    <input type="text" class="form-control form-txt " placeholder="Retailer Legal Name" [(ngModel)]="merchant.retailerLegalName" >
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Account Id</label>
                                    <input type="text" class="form-control form-txt" placeholder="Account Id" [(ngModel)]="merchant.accountId" >
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div class="row">
                            <div class="col-12 sub-head-lbl">LEGAL</div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Email Id</label>
                                    <input type="text" class="form-control form-txt " placeholder="Email Id" [(ngModel)]="merchant.emailId" >
                                 </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Identification Doc Type</label>
                                    <input type="text" class="form-control form-txt " placeholder="Identification Doc Type" [(ngModel)]="merchant.identificationDocType" readonly>
                                </div> 
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Tax Id</label>
                                    <input type="text" class="form-control form-txt " placeholder="Tax Id" [(ngModel)]="merchant.taxId" readonly>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Contact Number</label>
                                    <input type="text" class="form-control form-txt " placeholder="Contact Number" [(ngModel)]="merchant.contactNumber" >
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div class="row">
                            <div class="col-12 sub-head-lbl">ADDRESS</div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Address</label>
                                    <input type="text" class="form-control form-txt " placeholder="address" [(ngModel)]="merchant.address" >
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Postal Code</label>
                                    <input type="text" class="form-control form-txt" placeholder="Postal Code" [(ngModel)]="merchant.postalCode" >
                                     
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">Country Code</label>
                                    <input type="text" class="form-control form-txt " placeholder="Country Code" [(ngModel)]="merchant.countryCode" >
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">State Code</label>
                                    <input type="text" class="form-control form-txt " placeholder="State Code" [(ngModel)]="merchant.stateCode" >
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label lbl-txt">City Code</label>
                                    <input type="text" class="form-control form-txt " placeholder="City Code" [(ngModel)]="merchant.cityCode" >
                                </div>
                            </div>
                        </div>
                        <button class="btn-update" (click)="updateMerchant()" [disabled]="!updateBtn">Update</button>
                    </div>
                </div>
            </div>
           
        </div>

    </div>

</div>