<div id="cover-spin" *ngIf="loader"></div>
<div class="loader" *ngIf="loader"></div>

<div>

    <div class="container" class="main-div">

        <div class="row">

            <div class="col-6">
                <div class="row trans-timespan">
                    <button type="button" (click)="getLastDaysData(1)" [ngClass]="lastDays == 1 ? 'btn-primary' : 'btn-light'" class="btn box-shadow">Last Working Day</button>
                    <button type="button" (click)="getLastDaysData(7)" [ngClass]="lastDays == 7 ? 'btn-primary' : 'btn-light'" class="btn box-shadow">Past 7 Days</button>
                    <button type="button" (click)="getLastDaysData(30)" [ngClass]="lastDays == 30 ? 'btn-primary' : 'btn-light'" class="btn box-shadow">Past 30 Days</button>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>

        </div>

        <div class="row cards-row">
            <div class="col-3 card-cont"> 
            <div class="card-div box-shadow">
                <div class="lbl-line-title">SALES</div>
                <div class="lbl-line-amt"><span  *ngIf="tranHistory && tranHistoryTabAll">$ {{tranHistory.Sales}}</span></div>
            </div>
            </div>
            <div class="col-3 card-cont">
            <div class="card-div box-shadow">
                <div class="lbl-line-title">TRANSACTIONS</div>
                <div class="lbl-line-amt"><span  *ngIf="tranHistory && tranHistoryTabAll">$ {{tranHistory.Transactions}}</span></div>
            </div>
            </div>
            <div class="col-3 card-cont">
            <div class="card-div box-shadow">
                <div class="lbl-line-title">FEES</div>
                <div class="lbl-line-amt"><span  *ngIf="tranHistory && tranHistoryTabAll">$ {{tranHistory.Fees}}</span></div>
            </div>
            </div>
            <div class="col-3">
            <div class="card-div box-shadow">
                <div class="lbl-line-title">COMMISSION</div>
                <div class="lbl-line-amt"><span  *ngIf="tranHistory && tranHistoryTabAll">$ {{tranHistory.Commission}}</span></div>
            </div>
            </div>
        </div>

        <div class="row cards-row">
            <div class="col-12 card-cont-trans">
                <div class="card-div-trans p-0 box-shadow">
                    <div class="bar-transaction"> 
                        Latest Transactions (Last Working Day)
                        <input type="text" class="form-control searchtxt" placeholder="Search Here" (keyup)="filterData()" [(ngModel)]="searchText">
                        <span class="lbl-downrpo" (click)="downloadCsv()">Download Reports</span>
                    </div>

                    <div class="tbody-div">
                    <table class="table" *ngIf="tranHistoryTab">
                        <thead class="sticky-top">
                        <tr>
                            <th scope="col" class="p-left-30px">DATE</th>
                            <th scope="col">CARD TYPE</th>
                            <th scope="col">TRANSACTION TYPE</th>
                            <th scope="col">RETRIEVAL REF.#</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col" class="p-right-25px">STATUS</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tran of tranHistoryTab | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count }; let i = index ">
                                <td class="p-left-30px">{{tran.datev}} {{tran.timev}}</td>
                                <td class="card-type-sec">
                                    <img *ngIf="tran.CardType==='2002'" src="../../assets/maestro.jpg" alt="Trulli" class="card-img-maestro">
                                    <img *ngIf="tran.CardType==='2001'" src="../../assets/mastercard2.jpg" alt="Trulli" class="card-img-mastercard">
                                    <img *ngIf="tran.CardType==='8051'" src="../../assets/visa.jpg" alt="Trulli" class="card-img-visa">
                                </td>
                                <td>{{tran.TransactionType}}</td>
                                <td>
                                    <span *ngIf="tran.TransactionType==='000000' && tran.MessageType==='0210'">Purchase</span>
                                    <span *ngIf="tran.TransactionType==='200000' && tran.MessageType==='0210'">Refund</span>
                                    <span *ngIf="tran.TransactionType==='000000' && tran.MessageType==='0420'">Purchase Reversal</span>
                                    <span *ngIf="tran.TransactionType==='200000' && tran.MessageType==='0420'">Refund Reversal</span>
                                </td>
                                <td>{{tran.RetrivalReferance}}</td>
                                <td>
                                    <fa-icon class="fa-plus" [icon]="faPlus"></fa-icon>
                                    $ {{tran.Amount}}</td>
                                <td class="p-right-25px">
                                    <span *ngIf="tran.TransactionStatus===1">
                                        <fa-icon class="fa-plus" [icon]="faCheck"></fa-icon>
                                    </span>
                                    <span *ngIf="tran.TransactionStatus===0">
                                        <fa-icon class="fa-faExclamationTriangle" [icon]="faExclamationTriangle"></fa-icon>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <pagination-controls
                    class="pagination-controls-div"
                    previousLabel="Previous"
                    nextLabel="Next"
                    (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                    </div>
                </div>
            </div>
          
        </div>

    </div>

</div>